body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

button {
    padding: 0.5rem 1.3rem;
    margin-top: 2rem;
}

.leaf {
    
    background-position: center;
    object-fit:contain;
    height: 100vh;
    margin: 0;
}

.left-container {
    width: 40%;
}

.main-container {
    display: flex;
    flex-direction: column;
    
 }

.text, .form-container {
    padding-top: 1rem;
    padding-left: 2rem;
    
}

.text {
    
    background: #FDFCF6;
    height: 35%;
    
    
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    background: #6d6881;
    height: 35%;
    padding-right: 20rem;
    padding-bottom: 1.5rem;
    
    
    
}

.bottom-container {
    background: #FDFCF6;
    
    height: 35%;
    padding-left: 2rem;
    
    
}

input, label {
    display: block;
    margin-right: 2rem;
    height: 1.2rem;
    
    
}

input {
    width: 250px;
}

input:focus {
    outline: none;
    border:1px solid red;
    box-shadow: 0 0 5px hsl(4, 91%, 32%);
}

